@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+BE+VLG:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* 
.playwrite-be-vlg-<uniquifier> {
font-family: "Playwrite BE VLG", cursive;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
}
.bebas-neue-regular {
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
}

.rubik-<uniquifier> {
font-family: "Rubik", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
}
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: #FF5F00;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.botonHeader {
    height: 50px;
    width: 50px;
    margin: 0px 50px;
}
#logoHeader {
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-size: 40px;
}
#mainIndex {
    height: auto;
    width: 100%;
    background-color:rgb(255, 197, 163) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Página Principal */
.categoriaYOrden {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.categoria {
    color: rgb(119, 9, 42);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}

.sortOptions {
    background-color: rgb(119, 9, 42);
    color: white;
    height: 40px;
    width: 170px;
    border-radius: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    padding-left: 10px;
    cursor: pointer;
}

.carretelMostrador {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    height: 300px;
    width: 80%;
    background-color: white;
    border-radius: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px ;
    margin-bottom: 50px;
}

.item {
    width: 17%;
    height: 80%;
    box-shadow: 0px 0px 15px black;
    border-radius: 30px;
    overflow:hidden;
    position: relative;
}

.shoppingButton {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
    border-style: none;
    background-color: rgb(119, 9, 42);
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.shoppingButton img {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
}

.contenedorProducto {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.contenedorProducto img {
    width: 170px;
    height: 170px;
}

.descripcionProducto {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
}

.precioProducto {
    color: rgb(119, 9, 42);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

footer h2 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
}

/* Página Carrito */
#mainCarrito {
    height: auto;
    width: 100%;
    background-color:rgb(255, 197, 163) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#textoCarrito {
    font-family: "Rubik", sans-serif;
font-optical-sizing: auto;
font-style: normal;
font-size: 40px;
margin: 50px;
}
#contenidoCarrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 80%;
    padding: 20px 30px;
    border-radius: 30px;
}
.contenedorItemsCarrito {
display: flex;
flex-direction: row;
background-color: white;
padding: 10px 30px;
width: 95%;
justify-content: space-around;
align-items: center;
}

#contenedorTotalCarrito {
    width: 95%;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.imgProductoCarrito {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.imgProductoCarrito img {
    width: 80px;
    height: 80px;
}

.nombreProductoCarrito {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    width: 40%;
}

.categoriaProductoCarrito {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    width: 25%;
}

.precioProductoCarrito {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    width: 20%;
}

#totalCarrito h2 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
}